<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">
  <test name="CreatePost">
    <classes>
      <class name="org.example.tests.CreatePosts"/>
    </classes>
  </test>
  <test name="GetPost">
    <classes>
      <class name="org.example.tests.GetPostsById"/>
      <class name="org.example.tests.GetAllPosts"/>
      <class name="org.example.tests.GetPostsByUser"/>
    </classes>
  </test>
  <test name="Update">
    <classes>
      <class name="org.example.tests.UpdatePosts"/>
    </classes>
  </test>
  <test name="Delete">
    <classes>
      <class name="org.example.tests.DeletePosts"/>
    </classes>
  </test>
  <test name="Patch">
    <classes>
      <class name="org.example.tests.PatchPosts"/>
    </classes>
  </test>
  <test name="Nested Resources">
    <classes>
      <class name="org.example.tests.GetNestedResources"/>
    </classes>
  </test>
</suite>